* {
  box-sizing: border-box;
  /* max-width: 100%; */
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif; }

#sidebar {
    /* top:0px; */
    /* left:-5rem; */
    /* max-width:200px; */
    /* min-width: 250px; */
    /* max-width: 250px; */
    /* transition: 0.3s; */
}

#sidebar.active {
    /* margin-left: -0px; */
}


/* @media (max-width: 768px) { */
    .navbar-collapse {
        position: absolute;
        /* top: 54px; */
        /* left: 0; */
        /* padding-left: 15px; */
        /* padding-right: 15px; */
        /* padding-bottom: 15px; */
        /* width: 20%; */
        height:100%;
    }
    .navbar-collapse.collapsing {
        height: 100%;
        -webkit-transition: left 0.5s ease;
        -o-transition: left 0.5s ease;
        -moz-transition: left 0.5s ease;
        transition: left 0.5s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        height: 100%;
        left: 0;
        -webkit-transition: left 0.5s ease-in;
        -o-transition: left 0.5s ease-in;
        -moz-transition: left 0.5s ease-in;
        transition: left 0.5s ease-in;
    }
/* } */